{:duct.core/project-ns  jarvis
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.core/handler {:middleware [#ig/ref :duct.middleware.web/format]}
 :duct.middleware.web/format {}
 :duct.module/cljs {:main jarvis.client :figwheel true}

 :duct.module/ataraxy
 {"/" [:index]}
 :jarvis.handler/index {}}
