{:duct.core/project-ns  jarvis
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.core/handler {:middleware [#ig/ref :duct.middleware.web/format]}
 :duct.middleware.web/format {}
 :duct.module/cljs {:main jarvis.core :figwheel {:on-jsload jarvis.core/render! :websocket-host :js-client-host}}

 :duct.module/ataraxy
 {"/" [:index]}
 :jarvis.handler/index {}}
